body{
    background-color:rgb(48, 48, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;
}
#bemvindo{
    text-align: center;
}
#paddinng{
    padding-top: 400px;
    padding-left: 400px;
}
.noneclass{
    opacity: 0%;



}
.bordeeer{
    border: 1px;
    border-color: red;
}
.paragrafo{
    color:yellow;
}
.paddingleft{
    padding-left: 50px;


}